.Results-Box{
    min-height: 50vh;
    max-height: 250vh;
    height: auto;
    background-color: rgb(183, 184, 196);
    border: 1px solid rgb(26, 26, 51);
    border-radius: 15px;
}

.maincontent{
    justify-content: center;
    display: flex;
    margin-top: 10vh;
}