.Results-Box{
    min-height: 50vh;
    max-height: 250vh;
    height: auto;
    background-color: rgb(183, 184, 196);
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.maincontent{
    justify-content: center;
    display: flex;
    margin-top: 10vh;
}