.sectionLandings {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}
.sectionMain{
    margin: 10px;
    width: 500px;
    transform: skew(-5deg);
}
.sectionGifs {
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 5px 5px black;
}
.sectionGifs img{
    width: 100%;
}
.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 10px;
    background-color: transparent;
    color: white;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid white;
    box-shadow: 3px 5px 5px black;
}
.sectionTitle h1{
    font-size: 25pt;
}
@media (max-width: 1250px) {
    .sectionLandings {
        margin-top: 50px;
    }
    .sectionMain{
        margin: 10px 0;
        width: 95%;
        transform: skew(0);
    }
}