.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--header);
    height: 75px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: var(--text);
    font-size: 1.2rem;
    position: relative; /* Adicionando position: relative para garantir que a pseudo-elemento esteja posicionado corretamente */
}

.nav a::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Posicionando o pseudo-elemento abaixo do texto */
    left: 0; /* Começando da esquerda */
    width: 0; /* Iniciando com largura zero */
    height: 2px; /* Espessura do underline */
    background-color: var(--text); /* Cor do underline */
    transition: width 0.3s ease; /* Adicionando transição para a largura */
}

.nav a:hover::before {
    width: 100%; /* Aumentando a largura para 100% */
}

.darkBotao{
    color: var(--primary);
    border: none;
    border-radius: 30%;
    cursor: pointer;
    transition: 0.2s;
    height: 30px;
    width: auto;
}

.lightBotao{
    color: var(--primary);
    border: none;
    border-radius: 30%;
    cursor: pointer;
    transition: 0.2s;
    height: 30px;
    width: auto;
}

.darkBotao, .lightBotao{
    user-select: none;
}

.switchTema {
    position: absolute;
    margin-right: 60px;
    right: 0;
    display: block;
    width: 80px;
    height: 30px;
    background-color: rgb(212, 203, 203);
    border-radius: 70px;
    padding: 3px 10px 3px 7px;
}

.switchTema .imageLight {
    margin-right: 40px;
    width: 20px;
    height: 25px;
    animation: go-back 0.5s;
}

.switchTema .imageDark {
    margin-left: 40px;
    width: 25px;
    height: 25px;
    animation: lets-go 0.5s;
}

@keyframes go-back {
    0% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes lets-go {
    0% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(-0px);
    }
}