.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--header);
}

.darkBotao{
    background-color: var(--inverted);
    color: var(--primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.darkBotao:hover{
    background-color: var(--primary);
    color: var(--inverted);
}

.lightBotao{
    background-color: var(--inverted);
    color: var(--primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.lightBotao:hover{
    background-color: var(--primary);
    color: var(--inverted);
}