*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light{
  /* cria cores padrão para serem usadas no projeto */
  --primary: #f8f9fa;
  --secondary: #6c757d;

  --inverted: rgb(12, 12, 12);
  --header: #e0e0e0;

  --text: #0c0e0f;
  --textHold: #2e3336;
}

.dark{
    /* cria cores padrão para serem usadas no projeto */
    --primary: rgb(12, 12, 12);
    --secondary: #6c757d;


    --inverted: #f8f9fa;
    --header: #e0e0e0;

    --text: #f8f9fa;
    --textHold: #b9b9b9;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
  background-color: var(--primary);
  display: grid;
  grid-template-rows: auto 1fr auto;
}