*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light{
  /* cria cores padrão para serem usadas no projeto */
  --primary: #f8f9fa;
  --secondary: #e4e4e4;
  --terciary: #c9c9c9;

  --inputPrimary: #f3f3f3;
  --inputSecundary: #d3d3d3;

  --shadow: rgba(0, 0, 0, 0.1);
  --inverted: rgb(12, 12, 12);
  --header: #e0e0e0;

  --text: #0c0e0f;
  --textHold: #2e3336;
}

.dark{
    /* cria cores padrão para serem usadas no projeto */
    --primary: rgb(12, 12, 12);
    --secondary: #1a1c1d;
    --terciary: #2e3336;

    --inputPrimary: #1a1c1d;
    --inputSecundary: #2e3336;

    --shadow: rgba(255, 255, 255, 0.1);
    --inverted: #f8f9fa;
    --header: #e0e0e0;

    --text: #f8f9fa;
    --textHold: #b9b9b9;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
  background-color: var(--primary);
  display: grid;
  grid-template-rows: auto 1fr auto;
}