.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--primary);
}

.searchBar {
    position: relative;
    top: -200px; /* ou o valor que preferir para mover para cima */
  }