.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--primary);
    flex-direction: column;
    padding-top: 5rem;
    margin-bottom: 40px;
}

.main p {
    color: var(--text);
    padding-bottom: 10px;
}

.functionCard {
    background-color: var(--secondary); /* fundo suave */
    border-radius: 8px; /* bordas arredondadas */
    padding: 1rem; /* espaçamento interno */
    margin: 0.5rem; /* margem entre cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra suave */
    transition: transform 0.3s ease; /* transição suave para hover */
    width: 100%;
}

.functionList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    gap: 15px;
    width: 60%;
}

.functionCard h2 {
    color: var(--text); /* cor primária para o título */
    margin-bottom: 0.5rem; /* espaço abaixo do título */
}

.functionCard p {
    color: var(--text); /* cor de texto padrão */
    font-size: 0.9rem; /* tamanho de fonte menor para detalhes */
}

.main404 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    flex-direction: column;
    padding-top: 5rem;
    color: var(--text); /* usando a cor de texto definida */
}

.main404 h2 {
    font-size: 2.5rem; /* tamanho maior para o título */
    color: var(--highlight); /* cor destacada para o título */
    margin-bottom: 1rem; /* espaço abaixo do título */
}