.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 80vh; */
    background-color: var(--primary);
    flex-direction: column;
    padding-top: 5rem;
}

.main p {
    color: var(--text);
    padding-bottom: 10px;
}

.main pre {
    color: var(--textHold);
    background-color: var(--terciary);
    padding: 10px;
}

.codeBlock {
    max-width: 860px;
    width: auto;
    margin-top: 3rem;
}

.codeInformation {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    background: var(--secondary);
}

.codeTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hljs-comment,.hljs-quote{
    color:#7e7887;
}
.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-regexp,.hljs-link,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class{
    color:#be4678;
}
.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params{
    color:#cf7354;
}
.hljs-string,.hljs-symbol,.hljs-bullet{
    color:#2a9292;
}
.hljs-title,.hljs-section{
    color:#7389fc;
}
.hljs-keyword,.hljs-selector-tag{
    color:#b886fd;
}
.hljs-deletion,.hljs-addition{
    color:#19171c;
    display:inline-block;
    width:100%;
}
.hljs-deletion{
    background-color:#be4678;
}
.hljs-addition{
    background-color:#2a9292;
}
.hljs{
    max-width: 85vw;
    display:block;
    overflow-x:auto;
    background:rgb(26, 26, 26);
    color:#b8b7bb;
    padding:0.5em;
    border-radius: 5px;
    border: 1px solid gray;
}
.hljs-emphasis{
    font-style:italic;
}
.hljs-strong{
    font-weight:bold;
}