#grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    min-height: 50.9vh;
    height: auto;
}
#titleTeam{
    color: white;
}
#boxTitle{
    background-color: #111d36;
    height: 10vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titlePosition{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    height: 10vh;
    margin-top: 20vh;
}