.Nodata-Box{
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.noDataContent{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}