#container{
    background-color: rgb(151, 158, 196);
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
}
#descriptionDivision{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 10vh;
}