.screenCreateFunction{
    width: 100vw;
    height: 80.9vh;
    display: flex;
    justify-content: center;
}
.formBox{
    background-color: rgb(161, 161, 161);
    margin-top: 15vh;
    min-height: 40vh;
    height: auto;
    border-radius: 15px;
    border: 1px solid black;
}
.formAddNewFunction{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.formAddNewFunction textarea{
    resize: none;
    padding: 10px;
}
.formAddNewFunction textarea:focus-visible{
    border: 1px solid black !important;
    outline: none;
}
.textEditorFunction{
    width: 40vw !important;
    height: 30vh !important;
    border: 2px solid black;
    border-radius: 15px;
}
#titleNewFunction{
    padding: 5px;
    width: 25vw;
}
#labelTitleNewFunction{
    font-weight: 500;
    font-size: 15pt;
}
#selectionLanguage{
    padding: 5px;
}
#descriptionNewFunction{
    width: 45vw;
    height: 20vh;
    border-radius: 10px;
}
#divDescricao{
    display: flex;
}