.screenCreateFunction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.formBox{
    background-color: var(--gray);
    margin-top: 15vh;
    border-radius: 15px;
    color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 80%;
}
.formAddNewFunction{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 50px;
}
.formAddNewFunction textarea{
    resize: none;
    padding: 10px;
}
.formAddNewFunction textarea:focus-visible{
    border: 1px solid black !important;
    outline: none;
}
.textEditorFunction{
    width: 40vw !important;
    height: 30vh !important;
    border: 2px solid black;
    border-radius: 15px;
}
#titleNewFunction{
    padding: 5px;
    height: 40px;
    width: 500px;
}
#labelTitleNewFunction{
    font-weight: 500;
    font-size: 15pt;
}
#selectionLanguage{
    padding: 5px;
    height: 40px;
    width: 150px;
}
#descriptionNewFunction{
    width: 800px;
    height: 300px;
    border-radius: 10px;
}
#divDescricao{
    display: flex;
}
#botaoSubmit{
    width: 10vw;
    height: 5vh;
}