.mainSearch{
    margin-top: 150px;
    justify-content: center;
    display: flex;
    height: 60px;
}
.Search-bar{
    background-color: black;
}
.Search-bar input{
    width: 100%;
    height: 100%;
    font-size: 20pt;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
}
.Search-bar input:focus{
    outline: 1px solid white;
}

#img-search{
    width: 80%;
    height: 80%;
}
.Search-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 0 100vmax 100vmax 0;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}
.language-programming{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20pt;
    border: 2px solid black;
}

.addImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    border-radius: 100vmax 0 0 100vmax;
}

.addImage a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#addContent{
    width: 90%;
    height: 90%;
}
.Search-image button{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0 100vmax 100vmax 0;
    border: 0;
}
.linkCriarFuncao{
    border-radius: 100vmax 0 0 100vmax;
    width: 100% !important;
    height: 100% !important;
}