.DadosConta{
    width: 100%;
    background-color: black;
    border: 1px solid white;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    border-radius: 3px;
}
.divisaoDados{
    width: 100%;
    border: 1px solid white;
    padding: 20px 50px;
    padding-bottom: 20px;
}
.divisaoDados legend{
    padding-bottom: 20px;
}
.divisaoDados input{
    padding: 8px;
    background-color: #111;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}
.campoDados{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.dataAll{
    display: flex;
    flex-wrap: wrap;
}
#dadosMudarSenha input{
    margin: 10px;
}
.divisaoDados button{
    margin: 10px;
    padding: 5px 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    transition: .3s;
    margin-top: 20px;
}
.divisaoDados button:hover{
    background-color: lightgreen;
    color: black;
}

@media screen and (max-width: 820px) {

    .contentPerfil{
         width: 98%;
         margin-left: 1%;
    } 
    
    .DadosConta{
        margin: 0;
    }

    .divisaoDados{
        padding: 5% 5%;
    }
    .divisaoDados input{
        width: 100% !important;
    }

 }