.cardResult{
    height: auto;
    background-color: black;
    box-shadow: 0px 0px 15px black;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
.artigo-code{
    width: 100% !important;
}
.artigo-funcao{
    margin: 10px;
}
.artigo-funcao h2{
    margin-bottom: 30px;
}
.artigo-funcao p{
    margin-top: 15px;
}
.buttonvermais{
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    transition: .2s;
}
.buttonvermais:hover{
    background-color: white;
    color: black;
    border: 1px solid gray;
}

/* Code Theme */

.hljs-comment,.hljs-quote{
    color:#7e7887;
}
.hljs-variable,.hljs-template-variable,.hljs-attribute,.hljs-regexp,.hljs-link,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class{
    color:#be4678;
}
.hljs-number,.hljs-meta,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params{
    color:#cf7354;
}
.hljs-string,.hljs-symbol,.hljs-bullet{
    color:#2a9292;
}
.hljs-title,.hljs-section{
    color:#7389fc;
}
.hljs-keyword,.hljs-selector-tag{
    color:#b886fd;
}
.hljs-deletion,.hljs-addition{
    color:#19171c;
    display:inline-block;
    width:100%;
}
.hljs-deletion{
    background-color:#be4678;
}
.hljs-addition{
    background-color:#2a9292;
}
.hljs{
    max-width: 90vw;
    display:block;
    overflow-x:auto;
    background:rgb(26, 26, 26);
    color:#b8b7bb;
    padding:0.5em;
    border-radius: 5px;
    border: 1px solid gray;
}
.hljs-emphasis{
    font-style:italic;
}
.hljs-strong{
    font-weight:bold;
}
#buttonSalvarFunction{
    margin-right: 10px;
    margin-bottom: 10px;
}